svg {
    display: block;
}

#chart1 svg {
    height: 500px;
    min-width: 100px;
    min-height: 100px;
    /*
      margin: 50px;
      Minimum height and width is a good idea to prevent negative SVG dimensions...
      For example width should be =< margin.left + margin.right + 1,
      of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
    */
}